<!DOCTYPE html>
<html>
  <head>
    <title>atril</title>
    <meta name="author" content="Mitranim">
    <meta name="description" content="Experimental web UI framework. Ideas from ReactJS, Polymer, Angular 2, Aurelia, made simple.">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <base href="/atril/">
    <link rel="stylesheet" type="text/css" href="/atril/css/app.css">

    <!-- Block rendering while preparing the document -->
    
      <script src="build.js"></script>
    
  </head>

  <body>
    <div class="doc-banner">
  <h1 class="text-monospace size-initial">atril</h1>

  <h3>Experimental web UI framework</h3>

  <p style="font-size: 1rem">Ideas from ReactJS, Polymer, Angular 2, Aurelia, made simple</p>

  <div class="link-section">
    <a href="https://github.com/Mitranim/atril" target="_blank">
      <sf-icon class="github-light pop"></sf-icon>
    </a>
    <a href="http://mitranim.com/#contacts" target="_blank">
      <sf-icon class="external-link pop" style="font-size: 0.8em"></sf-icon>
    </a>
    <!-- https://github.com/Mitranim/atril&text=Star&data.style=mega&data.icon=octicon-star&aria.label=Star -->
    <iframe allowtransparency="true" scrolling="no" frameborder="0" style="border: none" src="https://buttons.github.io/buttons.html#href%3Dhttps%3A%2F%2Fgithub.com%2FMitranim%2Fatril%26text%3DStar%26data.style%3Dmega%26data.icon%3Docticon-star%26aria.label%3DStar"></iframe>
  </div>
</div>

    <div class="flex" style="width: 100%; margin-top: 2rem">
      <div class="flex-5 order-1 space-out-v" style="padding: 0 1rem">
        <h2><span>Component</span><a class="heading-anchor" autolink.="component"><sf-icon class="inline link"></sf-icon></a></h2>
<div class="info pad decorate-links">
  <p>Quicklinks</p>
  <ul>
    <li><a href="component/#basics">Basics</a></li>
    <li><a href="component/#view">View</a></li>
    <li><a href="component/#contextual-dependencies">Contextual Dependencies</a></li>
    <li><a href="component/#lifecycle">Lifecycle</a></li>
  </ul>
</div>

<p>Synonymous with <em>custom element</em>. Combines a <em>view model</em> (a data layer) with a
<em>view</em> (an HTML template used for every such element).</p>
<p>The viewmodel class describes how to create a viewmodel object (VM for short)
for each of these elements. The VM&#39;s data and methods are available in the view.
It acts as the view&#39;s local scope — a feature missing from the native DOM API.</p>
<p>A custom element is registered under a new tag name, and activated during
<a href="bootstrapping/">bootstrapping</a>. Afterwards, <code>atril</code> manages the element,
automatically updating the view whenever the data changes.</p>
<h3><span>Basics</span><a class="heading-anchor" autolink.="basics"><sf-icon class="inline link"></sf-icon></a></h3>
<p>Example custom element:</p>
 <div class="code-pair"> 
<pre><code class="hljs lang-typescript"><span class="hljs-comment">// Viewmodel.</span>

<span class="hljs-keyword">import</span> {Component} from <span class="hljs-string">'atril'</span>;

@Component({
  tagName: <span class="hljs-string">'hello-world'</span>
})
<span class="hljs-keyword">class</span> ViewModel {
  name = <span class="hljs-string">'world'</span>;
  static viewUrl = <span class="hljs-string">'app/hello-world/hello-world.html'</span>;
}
</code></pre>
<pre><code class="hljs lang-html"><span class="hljs-comment">&lt;!-- Template. --&gt;</span>

<span class="hljs-comment">&lt;!-- Updates automatically --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span>Hello, {{<span>name</span>}}!<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>

<span class="hljs-comment">&lt;!-- Two-way databinding --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">twoway.value</span>=<span class="hljs-value">"name"</span>&gt;</span>

<span class="hljs-comment">&lt;!-- One-way databinding with manual feedback --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">bind.value</span>=<span class="hljs-value">"name"</span> <span class="hljs-attribute">on.input</span>=<span class="hljs-value">"name = this.value"</span>&gt;</span>

<span class="hljs-comment">&lt;!-- One-way databinding with no feedback;
     on.input is needed to detect user activity --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">bind.value</span>=<span class="hljs-value">"name"</span> <span class="hljs-attribute">on.input</span>&gt;</span>
</code></pre>
 </div> 
<pre><code class="hljs lang-html"><span class="hljs-comment">&lt;!-- Usage in HTML --&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">hello-world</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">hello-world</span>&gt;</span>
</code></pre>
<template doc-demo.>
  <hello-world></hello-world>
</template>

 <div>
  <sf-collapse class="info">
    <input id="es5-example" type="checkbox">
    <label for="es5-example" class="pad">
      <sf-icon svg-icon.="question-circle" class="inline text-info"></sf-icon>
      Click to see example with EcmaScript 5 and CommonJS.
    </label>
    <div class="code-pair"> 
<pre><code class="hljs lang-javascript"><span class="hljs-keyword">var</span> Component = <span class="hljs-built_in">require</span>(<span class="hljs-string">'atril'</span>).Component;

Component({
  tagName: <span class="hljs-string">'hello-world'</span>
})(ViewModel);

<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">ViewModel</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">this</span>.name = <span class="hljs-string">'world'</span>;
}

ViewModel.viewUrl = <span class="hljs-string">'app/hello-world/hello-world.html'</span>;
</code></pre>
<pre><code class="hljs lang-html"><span class="hljs-comment">&lt;!-- Updates automatically --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">h1</span>&gt;</span>Hello, {{<span>name</span>}}!<span class="hljs-tag">&lt;/<span class="hljs-title">h1</span>&gt;</span>

<span class="hljs-comment">&lt;!-- Two-way databinding --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">twoway.value</span>=<span class="hljs-value">"name"</span>&gt;</span>

<span class="hljs-comment">&lt;!-- One-way databinding with manual feedback --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">bind.value</span>=<span class="hljs-value">"name"</span> <span class="hljs-attribute">on.input</span>=<span class="hljs-value">"name = this.value"</span>&gt;</span>

<span class="hljs-comment">&lt;!-- One-way databinding with no feedback;
     on.input is needed to detect user activity --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">bind.value</span>=<span class="hljs-value">"name"</span> <span class="hljs-attribute">on.input</span>&gt;</span>
</code></pre>
     </div>
  </sf-collapse>
</div> 
<h3><span>View</span><a class="heading-anchor" autolink.="view"><sf-icon class="inline link"></sf-icon></a></h3>
<p>Each custom element has an optional <em>view</em>, an HTML template. Given a component
class <code>X</code>, the view can be provided in the following ways:</p>
<ul>
<li><code>X.view =&gt; string</code></li>
<li><code>X.viewUrl =&gt; string</code></li>
<li><code>X.view =&gt; Promise =&gt; string</code></li>
</ul>
<h4><span><code>X.view =&gt; string</code></span><a class="heading-anchor" autolink.="-x-view-string-"><sf-icon class="inline link"></sf-icon></a></h4>
<pre><code class="hljs lang-typescript">@Component({tagName: <span class="hljs-string">'my-element'</span>})
<span class="hljs-keyword">class</span> X {
  static view = `
    &lt;p&gt;Hello {{<span>name</span>}}!<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">input</span> <span class="hljs-attribute">twoway.value</span>=<span class="hljs-value">"name"</span>&gt;</span>
  `;
}</span>
</code></pre>
<p>This works well when importing views through the SystemJS <a href="https://github.com/systemjs/plugin-text" target="_blank">text
plugin</a>:</p>
<pre><code class="hljs lang-typescript"><span class="hljs-keyword">import</span> view from <span class="hljs-string">'./my-element.html!text'</span>;

@Component({tagName: <span class="hljs-string">'my-element'</span>})
<span class="hljs-keyword">class</span> X {
  static view = view;
}
</code></pre>
<h4><span><code>X.viewUrl =&gt; string</code></span><a class="heading-anchor" autolink.="-x-viewurl-string-"><sf-icon class="inline link"></sf-icon></a></h4>
<p>Primary method of view loading. The framework automatically loads the view by
the given URL, then activates the component once the view is available.</p>
<pre><code class="hljs lang-typescript">@Component({tagName: <span class="hljs-string">'my-element'</span>})
<span class="hljs-keyword">class</span> X {
  static viewUrl = <span class="hljs-string">'app/my-element/my-element.html'</span>;
}
</code></pre>
<p>Loaded views are synchronously available through the <code>viewCache</code> utility exposed
by the framework. It can also load a hitherto unavailable view, or set a view
by the given URL without loading it over the network. For production, views
should be converted to JS and precached in the <code>viewCache</code>. If you&#39;re building
with <code>gulp</code>, use
<a href="https://github.com/Mitranim/gulp-atril-html2js" target="_blank"><code>gulp-atril-html2js</code></a> to do
this for you.</p>
<p>The build system for this documentation site includes view preprocessing;
you&#39;re welcome to use it as an example.
(<a href="https://github.com/Mitranim/atril/blob/master/gulpfile.js" target="_blank">[1]</a>)</p>
<h4><span><code>X.view =&gt; Promise =&gt; string</code></span><a class="heading-anchor" autolink.="-x-view-promise-string-"><sf-icon class="inline link"></sf-icon></a></h4>
<p>You can return a promise that resolves to a view. Example using
<a href="https://github.com/github/fetch" target="_blank">fetch</a>:</p>
<pre><code class="hljs lang-typescript"><span class="hljs-keyword">let</span> viewPromise = <span class="hljs-literal">null</span>;

@Component({tagName: <span class="hljs-string">'my-element'</span>})
<span class="hljs-keyword">class</span> X {
  static <span class="hljs-keyword">get</span> view() {
    <span class="hljs-keyword">return</span> viewPromise || fetch(<span class="hljs-string">'/my-secret-view-url'</span>)
      .then(response =&gt; viewPromise = response.text());
  }
}
</code></pre>
<p>This lets you load views asynchronously through custom means.</p>
<h3><span>Contextual Dependencies</span><a class="heading-anchor" autolink.="contextual-dependencies"><sf-icon class="inline link"></sf-icon></a></h3>
<p>The framework uses a variant of dependency injection — <em>dependency assignment</em>
— to give you contextual dependencies for each viewmodel. To get hold of them,
use the <code>@assign</code> decorator (ES7/TypeScript) or the static <code>assign</code> property
on the constructor function (ES5).</p>
<p>The component viewmodel has just one dependency: <code>element</code>.</p>
<pre><code class="hljs lang-typescript"><span class="hljs-keyword">import</span> {Component, assign} from <span class="hljs-string">'atril'</span>;

@Component({tagName: <span class="hljs-string">'my-element'</span>})
<span class="hljs-keyword">class</span> VM {
  @assign element: Element;
  <span class="hljs-constructor"><span class="hljs-keyword">constructor</span>() </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">this</span>.element);
  }
}
</code></pre>
<p>You can also use a different property name:</p>
<pre><code class="hljs lang-typescript"><span class="hljs-keyword">import</span> {Component, assign} from <span class="hljs-string">'atril'</span>;

@Component({tagName: <span class="hljs-string">'my-element'</span>})
<span class="hljs-keyword">class</span> VM {
  @assign(<span class="hljs-string">'element'</span>) elem: Element;
  <span class="hljs-constructor"><span class="hljs-keyword">constructor</span>() </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">this</span>.elem);
  }
}
</code></pre>
 <div>
  <sf-collapse class="info">
    <input id="assign-es5" type="checkbox">
    <label for="assign-es5" class="pad">
      <sf-icon svg-icon.="info-circle" class="inline text-info"></sf-icon>
      Click for ES5 version.
    </label> 
<pre><code class="hljs lang-javascript"><span class="hljs-keyword">var</span> Component = <span class="hljs-built_in">require</span>(<span class="hljs-string">'atril'</span>).Component;

Component({tagName: <span class="hljs-string">'my-element'</span>})(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">VM</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">this</span>.elem);
  }

  VM.assign = {elem: <span class="hljs-string">'element'</span>};

  <span class="hljs-keyword">return</span> VM;
}());
</code></pre>
   </sf-collapse>
</div> 
<h3><span>Lifecycle</span><a class="heading-anchor" autolink.="lifecycle"><sf-icon class="inline link"></sf-icon></a></h3>
<p>A component&#39;s life begins with a <code>constructor</code> call. In addition, it can define
two lifecycle methods: <code>onPhase</code> and <code>onDestroy</code>.</p>
<ul>
<li><code>onPhase</code></li>
</ul>
<p>This is called whenever the framework reflows the tree of components and
bindings in response to user activity. Example usage:</p>
<pre><code class="hljs lang-typescript"><span class="hljs-keyword">class</span> VM {
  @assign element: Element;

  onPhase() {
    <span class="hljs-keyword">let</span> anchor = <span class="hljs-keyword">this</span>.element.querySelector(<span class="hljs-string">'a'</span>);
    <span class="hljs-keyword">if</span> (<span class="hljs-keyword">this</span>.isActive(anchor, location.pathname)) {
      anchor.classList.add(<span class="hljs-string">'active'</span>);
    } <span class="hljs-keyword">else</span> {
      anchor.classList.remove(<span class="hljs-string">'active'</span>);
    }
  }
}
</code></pre>
<ul>
<li><code>onDestroy</code></li>
</ul>
<p>When a root of the component hierarchy is removed from the real DOM, this is
called for each descendant component and the root itself. You can use this as a
chance to free memory or perform other cleanup tasks. Example:</p>
<pre><code class="hljs lang-typescript"><span class="hljs-keyword">class</span> VM {
  <span class="hljs-constructor"><span class="hljs-keyword">constructor</span>() </span>{
    createWastefulResource();
  }

  onDestroy() {
    deleteWastefulResource();
  }
}
</code></pre>

      </div>

      <div mark-href.active class="doc-sidenav flex-1" style="min-width: 8em">
        <a href>Overview</a>
<a href="quickstart/">Quickstart</a>
<a href="component/">Component</a>
<a href="attribute/">Attribute</a>
<a href="mold/">Mold</a>
<a href="databinding/">Databinding</a>
<a href="bootstrapping/">Bootstrapping</a>
<a href="if/"><code>if</code></a>
<a href="for/"><code>for</code></a>
<a href="let/"><code>let</code></a>
<a href="on/"><code>on</code></a>
<a href="class/"><code>class</code></a>
<a href="ref/"><code>ref</code></a>
<a href="todo/">demo</a>
<!-- TODO section on component interoperation -->
<!-- TODO separate section on dependency assignment -->
<a href="https://gitter.im/Mitranim/atril?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge" target="_blank">
  <img src="https://badges.gitter.im/Join%20Chat.svg">
</a>

      </div>
    </div>

    <sf-footer>
  <sf-footer-body>
    <div class="flex-1 flex flex-column items-start">
      <span>
        2015
        <a href="http://mitranim.com" target="_blank">Mitranim</a>
        (<a href="https://github.com/Mitranim/atril/blob/master/LICENSE" target="_blank">MIT licensed</a>)
      </span>
    </div>
    <div class="flex-1 flex flex-column items-center">
      <a class="flex items-center" href="https://github.com/Mitranim/atril" target="_blank">
        <sf-icon class="github-blue" style="font-size: 2em"></sf-icon>
        Source at GitHub
      </a>
    </div>
    <div class="flex-1 flex flex-column items-end">
      <sf-icon class="arrow-up pointer fade" onclick="scrollTo(0, 0)"></sf-icon>
    </div>
  </sf-footer-body>
</sf-footer>
  </body>

  <noscript>
    <doc-noscript>
  <doc-noscript-content class="narrow-inverse">
    <h2>Hello! :)</h2>
    <p>This site is a live demo for <a href="https://github.com/Mitranim/atril" target="_blank"><code>atril</code></a>, a web UI framework. For demo purposes, it's mostly rendered with JavaScript.</p>
    <p>Please enable JavaScript in your browser. Thank you!</p>
  </doc-noscript-content>
</doc-noscript>

  </noscript>
</html>
